In [ ]:
#to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
def same_words(words):
  count = 0

  for w in words:
    if len(w) > 1 and w[0] == w[-1]:
      count += 1
  return count

print(same_words(['abc', 'xyz', 'aba', '1221']))

2

In [ ]:
#to remove duplicates from a list.
def Remove(duplicate_list):
    final_list = []
    for num in duplicate_list:
        if num not in final_list:
            final_list.append(num)
    return final_list

duplicate_list = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate_list))

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [ ]:
#to check a list is empty or not.

my_list = []
if not my_list:
    print("the list is empty")

the list is empty

In [ ]:
#Write a Python function that takes two lists and returns true if they have at least one common member.

list1=[1,3,5,7,9]
list2=[2,7,8,4,9]
result = 0
def find_common(list1, list2):
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
             else:
               result = False
               return result
print(find_common(list1, list2))

In [ ]:
#Write a Python program to convert a list of characters into a string

list1 = ['J', 'e', 'r', 'r', 'y']

print("list1: ", list1)
print("type(list1): ", type(list1))
print()

str1 = ""
for i in list1:
 str1 += i;

print("str1: ", str1)
print("type(str1): ", type(str1))

In [ ]:
#Write a Python program to convert a list of characters into a string

list1 = ['J', 'e', 'r', 'r', 'y']

print("list1: ", list1)
print("type(list1): ", type(list1))
print()

str1 = ""
str1 = str1.join(list1)

print("str1: ", str1)
print("type(str1): ", type(str1))

In [ ]:
#Write a Python program to get unique values from a list

def unique(list1):

    unique_list = []

    for x in list1:
        if x not in unique_list:
            unique_list.append(x)
    for x in unique_list:
        print x,
  
  
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
  
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

In [ ]:
#Write a Python program to create a tuple with numbers.

Tuple1 = 22,
print("Tuple Items = ", Tuple1)

Tuple2 = (10, 20, 40, 60, 80, 100)
print("Tuple Items = ", Tuple2)

Tuple Items =  (22,)
Tuple Items =  (10, 20, 40, 60, 80, 100)

In [ ]:
#Write a Python program to find the length of a tuple.

tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print("First tuple length : ", len(tuple1))
print("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

In [ ]:
#Write a Python program to reverse a tuple.

def Reverse(tuples):
    new_tuple = tuples[::-1]
    return new_tuple
tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

In [ ]:
#Write a Python script to sort (ascending and descending) a dictionary by value.

my_dict = {'red': '# FF0000', 'green': '# 008000',
           'black': '# 000000', 'white': '# FFFFFF'}

print("Sorted dictionary is :")
for w in sorted(my_dict, key = my_dict.get):
    print(w, my_dict[w])

In [5]:
#Write a Python program to combine two dictionary adding values forcommon keys.
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = dict(d1) 
d3.update(d2) 
for i, j in d1.items():
   for x, y in d2.items():
     if i == x:
      d3[i]=(j+y)
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [6]:
#Write a Python script to concatenate following dictionaries to create a new one.

d1={'A':1,'B':2}
d2={'C':3}
d1.update(d2)
print("Concatenated dictionary is:")
print(d1)

Concatenated dictionary is:
{'A': 1, 'B': 2, 'C': 3}

In [10]:
#Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.
from itertools import product

d ={'1':['a','b','e'], '2':['c','d','f']}

for x, y in product(*d.values()):
    print(x + y)

ac
ad
af
bc
bd
bf
ec
ed
ef

In [9]:
#Write a Python program to combine values in python list of dictionaries.

from collections import Counter
item_list = [{'item': 'item1', 'amount': 800}, {'item': 'item2', 'amount': 700}, {'item': 'item1', 'amount': 537}]
result = Counter()
for d in item_list:
    result[d['item']] += d['amount']
print(result)

Counter({'item1': 1337, 'item2': 700})

In [13]:
#Write a Python program to calculate the area of a trapezoid

base1 = float(input('Please Enter the First Base of a Trapezoid: '))
base2 = float(input('Please Enter the Second Base of a Trapezoid: '))
height = float(input('Please Enter the Height of a Trapezoid: '))

Area = 0.5 * (base1 + base2) * height
Median = 0.5 * (base1+ base2)

print("\n Area of a Trapezium = %.2f " %Area)
print(" Median of a Trapezium = %.2f " %Median)

Please Enter the First Base of a Trapezoid: 8
Please Enter the Second Base of a Trapezoid: 5
Please Enter the Height of a Trapezoid: 2

 Area of a Trapezium = 13.00
 Median of a Trapezium = 6.50

In [12]:
#Write a Python program to calculate the area of a parallelogram
Base = float(input('Enter the Base of a parallelogram: '))
Height = float(input('Enter the Height of a parallelogram: '))
area=Base*Height 
print("The area of the parallelogram=",area)

Enter the Base of a parallelogram: 8
Enter the Height of a parallelogram: 6
The area of the parallelogram= 48.0